@model Arteg.Models.ContactMessage

@{
    if (String.Equals(ViewData["Message"], "Success"))
    {
        <script>window.alert('The message was sent! Thank you!')</script>
    }
    else if (String.Equals(ViewData["Message"], "Fail"))
    {
        <script>window.alert('Something went wrong. Please try again!')</script>
    }
}

<!--NavBar-->
<section class="menu navigationBar" once="menu" id="navigationBar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="~/assets/images/logo-3-172x70.png" alt="Atreg" title="Atreg" style="height: 3.8rem;">
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" href="#profileSection">
                            <span class="mbri-briefcase mbr-iconfont mbr-iconfont-btn"></span>Hồ sơ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" href="#servicesSection">
                            <span class="mbri-extension mbr-iconfont mbr-iconfont-btn"></span>Dịch vụ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" href="#representedSection"><span class="mbri-users mbr-iconfont mbr-iconfont-btn"></span>Những công ty đại diện</a>
                    </li>

                </ul>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-7" href="#contactForm"><span class="mbri-letter mbr-iconfont mbr-iconfont-btn"></span>Liên hệ</a></div>
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black dropdown-toggle display-7" aria-expanded="false" data-toggle="dropdown-submenu">
                            <span class="mbri-globe mbr-iconfont mbr-iconfont-btn"></span>VN
                        </a>
                        <div class="dropdown-menu">
                            <a class="text-black dropdown-item display-7" asp-controller="Italian" asp-action="Atreg" aria-expanded="false">IT</a>
                            <a class="text-black dropdown-item display-7" asp-controller="English" asp-action="Atreg" aria-expanded="false">EN</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<!--Landing Page Icon Block-->
<section class="header12 landingSection mbr-fullscreen mbr-parallax-background" id="landingSection">
    <div class="mbr-overlay main-bg"></div>
    <div class="container">
        <div class="media-container">
            <div class="col-md-12 align-center">
                <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                    ATREG LÀ GÌ?</h1>
                <h2 class="mbr-text pb-3 mbr-white mbr-fonts-style display-2">
                    ATREG là một công ty tư vấn có trụ sở tại Ý, chuyên về hoạt động thương mại xuất khẩu sang Việt Nam.
                </h2>
                <div class="icons-media-container mbr-white">
                    <div class="col-6 col-md-6 col-lg-3">
                        <a onclick=GoTo('#profileSection')>
                            <div class="card">
                                <div class="icon-block mb-2">
                                    <span class="mbr-iconfont mbri-briefcase"></span>
                                </div>
                                <h5 class="mbr-fonts-style display-5">Hồ sơ</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3">
                        <a onclick=GoTo('#servicesSection')>
                            <div class="card">
                                <div class="icon-block mb-2">
                                    <span class="mbr-iconfont mbri-extension"></span>
                                </div>
                                <h5 class="mbr-fonts-style display-5">Dịch vụ</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3">
                        <a onclick=GoTo('#representedSection')>
                            <div class="card">
                                <div class="icon-block mb-2">
                                    <span class="mbr-iconfont mbri-users"></span>
                                </div>
                                <h5 class="mbr-fonts-style display-5">Những công ty đại diện</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3">
                        <a onclick=GoTo('#contactForm')>
                            <div class="card">
                                <div class="icon-block mb-2">
                                    <span class="mbr-iconfont mbri-letter"></span>
                                </div>
                                <h5 class="mbr-fonts-style display-5">
                                    Liên hệ
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down pt-1" aria-hidden="true">
        <a onclick=GoTo('#profileSection')>
            <i class="mbri-arrow-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<!--Profile Section-->
<section class="mbr-section features6 profileSection" id="profileSection">
    <div class="container content4 cid-qLK44o3FT0" id="content4-o">
        <div class="media-container-row text-center">
            <div class="title col-12 col-md-12">
                <h3 class="pb-3 mbr-fonts-style display-1 text-center">Hồ sơ</h3>
                <h4 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5 text-center">Tại sao lại là Việt Nam?</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3 text-center">
                    <span class="mbr-iconfont mbri-cart-full "></span>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7 text-center">
                        Bởi vì đó là một thị trường của 96 triệu người, trong đó khoảng 50% dưới 30 tuổi.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3 text-center">
                    <span class="mbr-iconfont mbri-growing-chart"></span>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7 text-center">
                        Tăng trưởng kinh tế trong nhiều năm không bao giờ giảm xuống dưới 6% một năm, và đặc biệt trong các công ty lớn
                        tại thành phố Hà Nội và thành phố Hồ Chí Minh vượt lên đến 10%.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3 text-center">
                    <span class="mbr-iconfont mbri-map-pin"></span>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7 text-center">
                        Điều khác biệt giữa ATREG và các công ty tư vấn khác là sự hiện diện thường trú của văn phòng tại quốc gia sở tại,  cùng với đội ngũ nhân viên có trình độ cao trong khu vực.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Services Section-->
<section class="mbr-section article content12 servicesSection" id="servicesSection">
    <div class="container">
        <h3 class="text-center mbr-fonts-style display-1 text-white">
            Dịch vụ
        </h3>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10 serviceLevel">
                <h4 class="text-center mbr-white pb-3 mbr-fonts-style display-2">
                    <span class="level">
                        CẤP 1)
                    </span>
                </h4>
                <h5 class="mbr-section-subtitle text-center mbr-light mbr-white pb-3 mbr-fonts-style display-4">
                    Đối với các công ty năng động của Ý đang tìm kiếm thị trường mới, ATREG sẽ cung cấp một loạt dịch vụ với chi phí cố định và rất thấp.
                </h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ul>
                    <li><strong>THE PACKAGE INCLUDES</strong> updated information in addition to confidential industry information, planning of participation in fairs moreover events, web visibility, inclusion in catalogues distributed to importers as well as local wholesalers, telemarketing and, on request, meetings with buyers organized in our office in Ho Chi Minh City.</li>
                    <li><strong>THE PACKAGE DIFFERS</strong> is very limited whilst providing companies with information and support for the next twelve months.</li>
                    <li><strong>THE ANNUAL COST</strong> is very limited whilst providing companies with information and support for the next twelve months.</li>
                    <li><strong>THIS WAY</strong> ATREG immediately has a concrete interest in the success of the Những công ty đại diện and is therefore not just a simple supplier of information or contacts.</li>
                    <li><strong>OUR SERVICES</strong> do not stop at the sale but are inclusive of post-sales support that ensures full satisfaction for the parties involved.</li>
                    <li><strong>IT IS OUR INTEREST</strong> to establish stable as well as lasting relationships between the Những công ty đại diện and the Vietnamese clients.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10 serviceLevel">
                <h4 class="text-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    <span class="level">
                        CẤP 2)
                    </span>
                </h4>
                <p class="mbr-section-subtitle text-center mbr-light mbr-white pb-3 mbr-fonts-style display-4">
                    Đối với các công ty quyết định ngay lập tức tham dự hội chợ hoặc sự kiện, hoặc muốn bắt đầu
                    hành động tiếp thị người đầu tiên, ATREG ngoài việc làm đại lý độc quyền còn cung cấp sự hỗ trợ cho cả việc tạo ra một kế hoạch kinh doanh và là một đối tác cho hậu cần và lực lượng lao động (thủ tục
                    hải quan để lấy mẫu, tìm nhân sự, lái xe, phiên dịch).
                </p>
            </div>
        </div>
    </div>
</section>

<!--Những công ty đại diện-->
<section class="features15 representedSection" id="representedSection">
<div class="container mbr-section content4 cid-qLKmeNBUdB" id="content4-19">
    <div class="media-container-row">
        <div class="title col-12 col-md-8">
            <h2 class="text-center pb-3 mbr-fonts-style display-1">Những công ty đại diện</h2>
            <h3 class="mbr-section-subtitle text-center mbr-light mbr-fonts-style display-5">Một số công ty đại diện bởi chúng tôi tại Việt Nam</h3>
            <h5 class="mbr-section-subtitle text-center mbr-fonts-style pt-4 turnCards">Mở các tấm thẻ để biết thêm các thông tin</h5>
        </div>
    </div>
</div>
<ul class="nav justify-content-center p-3 navbar-buttons mbr-section-btn" role="tablist">
    <li class="nav-item mbr-fonts-style"><a class="nav-link active btn btn-sm btn-secondary display-7" href="#food" data-toggle="tab" role="tab" aria-selected="true"><span class="fas fa-utensils pr-2"> </span> Thức ăn</a></li>
    <li class="nav-item mbr-fonts-style"><a class="nav-link btn btn-sm btn-secondary display-7" href="#wine" data-toggle="tab" role="tab" aria-selected="true"><span class="fas fa-tint pr-2"> </span> Rượu</a></li>
</ul>
<div class="container tab-content">
<!--Food-->
<div class="tab-pane active" id="food">
    <div class="media-container-row">
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img class="card-image" src="~/assets/images/fondo_montebello.png" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Fondo Montebello
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">Was
                        founded in 1991 by Massimo Bellodi,
                        whose family has been handing down the
                        traditional recipe of Balsamic Vinegar
                        of Modena for many generations.</p>
                    <p style="text-decoration: underline" class="mbr-text mbr-fonts-style display-7">
                        <a href="~/pdf/Company Profile  Acetaia Fondo Montebello.pdf">Check the portfilo here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-1200x775.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-4-1200x800.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="media-container-row cid-qLKqwQUfMR" id="features15-1c">
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-5-1200x800.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-1200x778.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-1200x675.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="media-container-row cid-qLKsMcpA4i" id="features15-1e">
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-1200x799.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-6-1200x800.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mbr-7-1200x800.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
    </div>*@
</div>
<!--Wine-->
<div class="tab-pane" id="wine">
    <div class="media-container-row">
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img class="card-image" src="~/assets/images/beyond_spumante.png" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Bosca
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Specializes in the
                        production of spumante and wine and is known
                        throughout the world for its Verdi, Sparkletini, Toselli
                        and Asti.
                    </p>
                    <p style="text-decoration: underline" class="mbr-text mbr-fonts-style display-7">
                        <a href="~/pdf/CorporatePresentation_Bosca.pdf">Check the portfilo here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/felipe-benoit-photography-31585-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/jez-timms-111240-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="media-container-row cid-qLKqwQUfMR" id="features15-1c">
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/marco-mornati-349230-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/mattias-diesel-281546-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/quentin-dr-178096-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="media-container-row cid-qLKsMcpA4i" id="features15-1e">
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/serge-esteve-7517-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/thomas-schaefer-129323-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card p-5 align-center">
                <div class="card-front card_cont">
                    <img src="~/assets/images/photo-nic-co-uk-nic-117915-unsplash.jpg" alt="ATREG" title="">
                </div>
                <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style">
                        Company Inc.
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        This could be your company.
                    </p>
                </div>
            </div>
        </div>
    </div>*@
</div>
</div>
</section>

<!--Contact Us Section-->
<section class="mbr-section form1 contactSection" id="contactForm">
    <div class="container mbr-section content4 cid-qLKx8ut6N0" id="content4-1i">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1 text-center">Liên hệ</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5 text-center">Vui lòng liên hệ chúng tôi nếu bạn quan tâm đến các dịch vụ của chúng tôi</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8">
                <form asp-controller="English" asp-action="Atreg" class="mbr-form" method="post">
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                <label asp-for="Name" class="form-control-label mbr-fonts-style display-4">Tên</label>
                                <input asp-for="Name" type="text" class="form-control" required="" placeholder="Tên của bạn" id="Name">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="form-control-label mbr-fonts-style display-4">Email</label>
                                <input asp-for="EmailAddress" type="email" class="form-control" required="" placeholder="Email của bạn" id="EmailAddress">
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-8 multi-horizontal">
                            <div class="form-group">
                                <label asp-for="Subject" class="form-control-label mbr-fonts-style display-4">Môn học</label>
                                <input asp-for="Subject" type="text" class="form-control" required="" placeholder="Môn học" id="subject-form1-1f">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text" class="form-control-label mbr-fonts-style display-4">Thông điệp</label>
                        <textarea asp-for="Text" type="text" class="form-control" rows="7" placeholder="Tin nhắn của bạn" id="Text"></textarea>
                    </div>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-form btn-secondary display-7">
                            <span class="mbri-letter mbr-iconfont mbr-iconfont-btn"></span>Gửi
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<section once="" class="footerSection" id="footerSection">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright @DateTime.Now.Year ATREG - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
