<section class="progressSection mt-5" id="progressSection">
    <div class="container">
        <div class="progress_elements">
            <div class="progress1 pb-5">
                <div class="title-wrap">
                    <div class="display-7">
                        <p>
                            Status</p>
                    </div>
                    <div class="progress_value display-7">
                        <div class="progressbar-number"></div>
                        <span>%</span>
                    </div>
                </div>
                <progress class="progress progress-primary" max="100" value="41">
                </progress>
            </div>    
        </div>
    </div>
</section>
<section class="mbr-section infoSection" id="infoSection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 display-5">
                    Feel free to contact us on the ATREG website if you are interested in our services.</h3>
                
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-secondary display-4" asp-controller="English" asp-action="Atreg">GO THERE</a></div>
            </div>
        </div>
    </div>
</section>
<section once="" class="footerSectionAsian" id="footerSectionAsian">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(60, 60, 60);"></div>
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 display-7">
                    © Copyright @DateTime.Now.Year ASIAN VITAL - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>