<body>
<section class="countdown1 countdownSection" id="countdownSection">
    <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            This page is under construction.<br></h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
            If you are interested in our company please come back in</h3>
        
    </div>
    <div class="container countdown-cont align-center">
        <div class="daysCountdown" title="Days"></div>
        <div class="hoursCountdown" title="Hours"></div> 
        <div class="minutesCountdown" title="Minutes"></div> 
        <div class="secondsCountdown" title="Seconds"></div>
        <div class="countdown pt-5 mt-2" data-due-date="2018/04/15"> 
        </div>
    </div>
</section>
<section class="progress-bars1 progressSection" id="progressSection">
    <div class="container">
        <div class="progress_elements">
            <div class="progress1 pb-5">
                <div class="title-wrap">
                    <div class="progressbar-title mbr-fonts-style display-7">
                        <p>
                            Status</p>
                    </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number"></div>
                        <span>%</span>
                    </div>
                </div>
                <progress class="progress progress-primary" max="100" value="41">
                </progress>
            </div>    
        </div>
    </div>
</section>
<section class="mbr-section info1 infoSection" id="infoSection">
    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">
                    Feel free to contact us on the ATREG website if you are interested in our services.</h3>
                
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-secondary display-4" asp-controller="English" asp-action="Atreg">GO THERE</a></div>
            </div>
        </div>
    </div>
</section>
<section once="" class="footerSectionAsian" id="footerSectionAsian">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(60, 60, 60);"></div>
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2018 ASIAN VITAL - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>

<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/countdown/jquery.countdown.min.js"></script>
<script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
<script src="assets/theme/js/script.js"></script>
  
<input name="animation" type="hidden">
</body>